.nav {
  font-family: helvetica;
  background-color: white;
  display: flex;
  align-items: center;
}

#bent-creek-logo {
margin-left: 0;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
}

u {
  color: rgb(153, 135, 111);
}

.nav-links {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 30px;
}

#about {
  color: rgb(153, 135, 111);
}

a {
  text-decoration: underline;
  color: black;
  border: 5px;
}

h1 {
  text-align: center;
  font-size: 75px;
  font-weight: lighter;
}

body {
  font-family:'Slabo 27px', serif;
  background-color: rgb(242, 242, 231);
  margin: 0;
  line-height: 1.6;
  font-size: 25px;
}

footer {
  background-color: rgb(42, 48, 37);
  height: 100px;
  position: absolute;
  width: 100%;
}
footer p {
  font-size: 25px;
  color: white;
  position: relative;
  top: 10px;
  left: 30px;

}

img {
  margin-left: px;
  float: left;
  padding-right: 50px;
  padding-bottom: 30px;
}
